namespace: kube-system

replicas: 1

registry:
  image: registry.opensource.zalan.do/teapot/kube-metrics-adapter
  imageTag: v0.2.0
  imagePullPolicy: IfNotPresent

service:
  port: 443
  internalPort: 443

addDirectoryHeader:
contentionProfiling:
profiling:
enableCustomMetricsApi:
enableExternalMetricsApi:
credentialsDirectory:
disregardIncompatibleHPAs:
http2MaxStreamsPerConnection:
listerKubeConfig:
skipperBackendsAnnotation:
skipperIngressMetrics:
skipperRouteGroupMetrics:
token:
vmodule:
priorityClassName:
automountServiceAccountToken:
nodeSelector:

authentication:
  kubeConfig:
  skipLookup:
  tokenWebhookCacheTtl:
  tolerateLookupFailure:

authorization:
  kubeConfig:
  alwaysAllowPaths:
  webhookCache:
    authorizedTtl:
    unauthorizedTtl:

aws:
  externalMetrics:
  region:

influxDB:
  enabled:
  address:
  organization:
  token:

log:
  alsoToStderr:
  toStderr:
  flushFrequency:
  backtraceAtTraceLocation:
  directory:
  file:
  fileMaxSize:
  level:
  stderrThreshold:
  skipHeaders:
  skipLogHeaders:

prometheus:
  enabled: true
  server: http://prometheus.kube-system.svc.cluster.local
  metricsAddress:

requestHeader:
  allowedNames:
  clientCaFile:
  extraHeadersPrefix:
  groupHeaders:
  usernameHeaders:

tls:
  skipTLSVerify: true
  certificateDirectory:
  clientCaFile:
  certFile:
  cipherSuites:
  minVersion:
  privateKeyFile:
  sniCertKey:

zmon:
  kariosdbEndpoint:
  tokenName:

resources:
  limits:
    cpu: 100m
    memory: 100Mi
  requests:
    cpu: 100m
    memory: 100Mi

scalingSchedule:
  enabled: false

nodeSelector:
  kubernetes.io/os: linux

tolerations: []

affinity: {}

priorityClassName: ""

podAnnotations: {}
